/* Basic Style */
.body {
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
}

.hero {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}

.hero__img {
  width: 100%;
}

.hero .hero__details {
  font-family: fantasy, cursive;
}

@media (max-width: 768px) {
  .hero { 
    text-align: center;
  }
}

.main {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}

.task {
  width: 56%;
  display: inline-block;
  flex-grow: 1;
}

.taskForm__wrapper {
  display: flex;
}

.taskList {
  margin: 0;
  padding: 0;
}

.taskList__item, 
.heading {
  list-style: none;
}

.input, 
.btn{
  outline: none;
}

.btn {
  background: none;
  border: 0;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
}

.btn:hover {
  color: #3a3A3a;
}

/* Heading */
.heading,
.label-newTask {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}

.input-text {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #dDd;
  background: #FFF;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
}

.input-text:focus {
  color: #333;
}

/* New Task */
.label-newTask {
  display: block;
  margin: 0 0 20px;
}

#newTask {
  width: 318px;
}

/* Task list */
.taskList__item {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
  vertical-align: middle;
}

.taskList__item > .input-check {
  margin: 0 10px;
}

.taskList__item > .label {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
}

.taskList__item > .input-text {
  width: 226px
}

.btn-delete .btn__img {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}

.btn-delete .btn__img:hover {
  transform: rotateZ(0);
}

/* Completed */
#completedTasks .label {
  text-decoration: line-through;
  color: #888;
}

/* Edit Task */
.taskList .taskList__item .input-text {
  display:none
}

.taskList .taskList__item.editMode .input-text {
  display:inline-block;
  width:224px
}

.taskList .taskList__item.editMode .label {
  display:none;
}